In [1]:
import pandas as pd

In [2]:
data={'corporation':['YAHOO','YAHOO','MSFT','MSFT','GOOGLE','GOOGLE'],
'person':['Sanjay','Chetan','Smiti','Anjali','Shaliendra','Jagrati'], 'sales_in_USD':[100,140,540,670,240,551]}

In [3]:
df=pd.DataFrame(data) 
print(df)

  corporation      person  sales_in_USD
0       YAHOO      Sanjay           100
1       YAHOO      Chetan           140
2        MSFT       Smiti           540
3        MSFT      Anjali           670
4      GOOGLE  Shaliendra           240
5      GOOGLE     Jagrati           551

In [4]:
print(df.groupby('corporation'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021CC9A6D790>

In [5]:
print(type(df.groupby('corporation')))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [6]:
group_data=df.groupby('corporation')

In [7]:
print(group_data.sum())

             sales_in_USD
corporation
GOOGLE                791
MSFT                 1210
YAHOO                 240

In [8]:
print(group_data.mean())

             sales_in_USD
corporation
GOOGLE              395.5
MSFT                605.0
YAHOO               120.0

In [9]:
print(group_data.std())

             sales_in_USD
corporation
GOOGLE         219.910209
MSFT            91.923882
YAHOO           28.284271

In [10]:
print(group_data.min())

              person  sales_in_USD
corporation
GOOGLE       Jagrati           240
MSFT          Anjali           540
YAHOO         Chetan           100

In [11]:
print(group_data.max())

                 person  sales_in_USD
corporation
GOOGLE       Shaliendra           551
MSFT              Smiti           670
YAHOO            Sanjay           140

In [12]:
print(group_data.count())

             person  sales_in_USD
corporation
GOOGLE            2             2
MSFT              2             2
YAHOO             2             2

In [13]:
print(group_data.describe())

            sales_in_USD                                                   \
                   count   mean         std    min     25%    50%     75%
corporation
GOOGLE               2.0  395.5  219.910209  240.0  317.75  395.5  473.25
MSFT                 2.0  605.0   91.923882  540.0  572.50  605.0  637.50
YAHOO                2.0  120.0   28.284271  100.0  110.00  120.0  130.00


               max
corporation
GOOGLE       551.0
MSFT         670.0
YAHOO        140.0

In [14]:
print(group_data.describe().transpose())

corporation             GOOGLE        MSFT       YAHOO
sales_in_USD count    2.000000    2.000000    2.000000
             mean   395.500000  605.000000  120.000000
             std    219.910209   91.923882   28.284271
             min    240.000000  540.000000  100.000000
             25%    317.750000  572.500000  110.000000
             50%    395.500000  605.000000  120.000000
             75%    473.250000  637.500000  130.000000
             max    551.000000  670.000000  140.000000

In [15]:
print(group_data.describe().transpose()['GOOGLE'])

sales_in_USD  count      2.000000
              mean     395.500000
              std      219.910209
              min      240.000000
              25%      317.750000
              50%      395.500000
              75%      473.250000
              max      551.000000
Name: GOOGLE, dtype: float64